<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082024102440-8fpf78bkffnpecskra138bvj0isi135l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082024102440-8fpf78bkffnpecskra138bvj0isi135l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1082024102440-2t4sc6jp03o30qfo2ge9ua740m1d4otu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBB1_TAUq_Uht_DpkorTWU1ie4v6VWlC-o</string>
	<key>GCM_SENDER_ID</key>
	<string>1082024102440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zherdeshapp.zherdeshmobileapplication</string>
	<key>PROJECT_ID</key>
	<string>zherdeshapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>zherdeshapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082024102440:ios:aa56389ddd1ff9b485031d</string>
</dict>
</plist>